.jumbotron{
    width: 100%;
    height: 300px;

    .lead{
        padding-top: 10px;
        font-size: 1.25rem;
    }
    .jumbo-text{
        width: 300px;
        height: auto;
        background-color: rgba(255,255,255,0.6);
    }
}
    @media (min-width: 768px) { 
    
    }

        @media (min-width: 992px) { 
            .jumbotron{
                height: 500px;
                .lead{
                    padding-top: 15px;
                    font-size: 2rem;
                }
                .jumbo-text{
                    width: 500px;
                }
            }
        }